@charset "utf-8"; 
body {
    margin: 0;
    padding: 0;
    height: 100%; /*background: url(/App_Themes/Intranet/Images/background-intranet.jpg) repeat-x top left;*/
    background-color: White;
    color: #333333;
    font-size: 70%;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-serif;
}
h1{
    top: 30px;
    left: 10px;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-serif;
}
.dvMainPage {
    float: left;
    width: 100%;
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}
.dvHeaderTop {
    position: fixed;
    width: 100%;
    border-top: solid 1px gray;
}
.dvTopHeaderContainer {
    background-color: #6fc6e2;
    position: relative;
    width: 100%;
    height: 90px;
    top: -2px;
    float: left;
    border-bottom: solid 1px Silver;
    border-top: solid 1px Silver;
    background-color: #2c7ca6;
    -webkit-box-shadow: #5ca5cb 0px 4px 15px;
    -moz-box-shadow: #5ca5cb 0px 4px 15px;
    box-shadow: #5ca5cb 0px 4px 15px;
    behavior: url(/scripts/PIE.htc);
}

.dvLogoUaiIntranetHeader {
    top: 10px;
    left: 10px;
    position: absolute;
    float: left;
}
.dvBackgroundImage {
    width: 100%;
    height: 92px;
    background-image: url(/App_Themes/Intranet/Images/header_UAI.jpg);
    background-position: 100% 0;
    position: absolute;
    background-repeat: no-repeat;
    background-color: #6fc6e2;
}
.dvLogoUaiIntranetHeader {
    top: 10px;
    left: 10px;
    position: absolute;
    float: left;
}
.headerUserTransContainer {
    width: 100%;
    position: relative;
    height: 90px;
}
.headerUserTransContainer {
    width: 100%;
    position: relative;
    height: 90px;
}

.headerUserTrans {
    bottom: 0px;
    position: relative;
    height: 90px;
    width: 100%;
}

.headerUserTransBottom {
    height: 20px;
    width: 100%;
    opacity: 0.3;
    -moz-opacity: 0.3;
    -khtml-opacity: 0.33;
    filter: alpha(opacity=30);
    background-color: silver; /*#127cde;*/
    position: absolute;
    bottom: 0px;
    border-top: solid 1px gray;
}
.headerUserOpac {
    color: black;
}

.dvHeaderTop {
    position: fixed;
    width: 100%;
    border-top: solid 1px gray;
}
.dvUsuarioIntranet {
    float: left;
    position: absolute;
    bottom: 4px;
    left: 10px;
}
.botonSalirIntranet {
    bottom: 4px;
    right: 20px;
    position: absolute;
    float: left;
}
.head-alumni {
    position: absolute;
    top: 4px;
    right: 10px;
    border: solid 1px white;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: #666 0px 2px 3px;
    -moz-box-shadow: #666 0px 2px 3px;
    box-shadow: #666 0px 2px 3px;
}

    .head-alumni a {
        color: white;
        font-weight:bold;
        text-decoration: none;
    }

    .dvMenuContainer {
        top: -2px;
        position: relative;
        float: left;
        border-bottom: solid 1px Silver;
        border-top: solid 1px Silver;
        width: 100%;
        background-color: #2c7ca6;
        -webkit-box-shadow: #5ca5cb 0px 4px 15px;
        -moz-box-shadow: #5ca5cb 0px 4px 15px;
        box-shadow: #5ca5cb 0px 4px 15px;
        behavior: url(/scripts/PIE.htc);
        padding:3px;
    }
    
    .dvMenuIntranet {
        width:100%!important;
        text-align:center;
    }
    .dvIntranetFooter {
        position: relative; /*margin-top: -80px;*/ /* negative value of footer height */
        height: 1px;
        clear: both;
    }
    .dvFooterIntranet {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 30px;
        float: left;
        clear: both;
        background-color: #1987ac;
        -webkit-box-shadow: #5ca5cb 0px -2px 4px;
        -moz-box-shadow: #5ca5cb 0px -2px 4px;
        box-shadow: #5ca5cb 0px -2px 4px;
        behavior: url(/scripts/PIE.htc);
    }
    .ScribeElement__Menu {
        box-shadow: 0 25px 50px -12px #00000040
    }
    .ScribeElement__MenuIcon {
        color: #64748b;
        display: flex;
        align-items: center
    }
    .menu
{
	border-style: none;
	padding: 0px 0px 0px 0px;

}

.mnstatic {
	margin: 0 auto;
	text-align: center;
	background: #2c7ca6;
	min-width: 100% !important;
}
.mnstaticitem {
	color: #2c7ca6;
	text-align: center;
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px 5px 8px !important;
	border: solid 1px #2c7ca6;

}
.mnstaticitemhove
{
	background: #20b1f4;
    border: 1px solid #20b1f4;
}
.mndynamic {
	background: #2c7ca6;
	border: 1px solid Gray;
	font-family: Verdana;
	font-size: 11px;
	font-weight: normal;

}
.mndynamicitem {
	/*background: #ebecec;*/
	text-align: left;
	text-decoration: none;
	padding: 5px 1px 5px 1px;
	border-style: none;
	width: 210px;

}

.mndynamicitem A
{
    color:Black;
	text-align: left;
	padding-right: 46px;

}

	.mndynamicitem A IMG {
		padding-right: 4px;
		padding-left: 0px;
		width: 20px;

	
	}

.mndynamicitemhove A {
	color: White;
	text-align: left;

}
.mndynamicitemhove {
	background-color: #20b1f4;
	background-image: none;
	padding: 4px 1px 4px 1px;
	border-bottom: 1px solid Black;
	border-top: 1px solid Black;
	background-color: black;

}

#ctl00_Menu1 a.popout {
	padding-right:13px!important;
}
.dvContentMain {
    width: 100%; /*left: 260px;*/
    top: 120px;
    float: left;
    min-height: 100%;
    position: absolute;
}
.dvButtonLeftHide {
    background-image: url(/App_Themes/Intranet/Images/buttons/toggleLeft.png);
    width: 10px;
    height: 38px; /*border:solid 1px red;*/
    position: fixed;
    left: 287px;
    top: 145px;
    cursor: pointer;
}
.container {
    width: 100%
}
.TableCalendar {
    empty-cells: show;
    border-collapse: collapse;
    width: 250px;
    
}
.CellModule {
    background-color: #f6f1f1;
    border: solid 1px black;
    text-align: center;
    font-size: 7px;
    width: 36px;
}

.CellModule2 {
    background-color: #f6f1f1;
    border: solid 1px black;
    text-align: center;
    font-size: 7px;
    cursor: pointer;
    width: 36px;
}


.HeaderCalendar {
    font-size: 10px;
    font-weight: bold;
    text-align: center;

}
.HourCalendar {
    background-color: #e3eaeb;
    font-size: 7px;
    border: solid 1px black;
    cursor: default;
    width: 16px;
    text-align: left;
}

.Daycalendar {
    background: url(../../App_Themes/Intranet/Images/DayCalendar.png) bottom;
    background-repeat: repeat-x;
    border: solid 1px #5167b0;
    width: 40px;
    font-size: 8px;
    cursor: default;
    text-align: center;
}
.tableHorarioSombra {
    border-collapse: collapse;
    width: 240px;
}
.tdHorarioSombraLeft {
    background-image: url(/App_Themes/Intranet/Images/sbuail.png);
    width: 15px;
    height: 13px;
    background-repeat: no-repeat;
}
.dvMenuOperativoIntranet {
    margin-bottom: 10px;
    float: left;
    background-color: White;
    border: solid 1px Gray;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: #5ca5cb 0px 2px 2px;
    -moz-box-shadow: #5ca5cb 0px 2px 2px;
    box-shadow: #5ca5cb 0px 2px 2px;
    behavior: url(/scripts/PIE.htc);
    width: 230px;
}
.dvResumenOperativo {
    margin-bottom: 10px;
    float: left;
    position: relative;
    background-color: White;
    border: solid 1px Gray;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: #5ca5cb 0px 2px 2px;
    -moz-box-shadow: #5ca5cb 0px 2px 2px;
    box-shadow: #5ca5cb 0px 2px 2px;
    behavior: url(/scripts/PIE.htc);
    width: 230px;
}
.dvContentLeft {
    float: left;
    top: 10px;
    width: 290px;
    padding: 10px 1px 10px 10px;
    position: relative; /* min-height:100%;*/ /*OR*/ /*overflow:scroll;*/
}
.dvContentCenter {
    /*border:solid 1px red;*/ /*left: 260px;*/ /*width: 100%;*/
    min-height: 100%;
    text-align: center; /*border-left:solid 1px #dfdfdf;*/
    position: relative;
    padding: 20px 1px 10px 10px;
    margin: 1px 1px 1px 1px;
    float: left;
}
.dvMainPage {
    float: left;
    width: 100%;
    position: relative;
    min-height: 100%;
    padding-bottom: 80px;
}
#mcs3_container {
    left: 0px;
    top: 140px;
    margin: 0;
    width: 270px;
    height: 400px;
    background-color: White;
    padding: 0 10px;
    border: solid 1px white;
    position: fixed;
    -webkit-box-shadow: #5ca5cb 0px 0px 6px;
    -moz-box-shadow: #5ca5cb 0px 0px 6px;
    box-shadow: #5ca5cb 0px 0px 6px;
    behavior: url(/scripts/PIE.htc);
}

#mcs3_container .customScrollBox {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#mcs3_container .customScrollBox .container {
    position: relative;
    width: 240px;
    top: 0;
    float: left;
}

#mcs3_container .customScrollBox .content {
    clear: both;
}

#mcs3_container .customScrollBox .content p {
    padding: 10px 5px 10px 15px;
    margin: 0;
    color: #31231E;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

#mcs3_container .customScrollBox img {
    border: 3px solid #31231E;
    margin: 0 0 0 15px;
}

#mcs3_container .dragger_container {
    position: relative;
    width: 0px;
    height: 160px;
    float: left;
    margin: 13px 0 0 25px;
    border-left: 1px solid #027093;
    border-right: 1px solid #e7e9e9;
    cursor: pointer
}

#mcs3_container .dragger {
    position: absolute;
    width: 9px;
    height: 60px;
    background: #48c0e7;
    margin-left: -5px;
    overflow: hidden;
    cursor: pointer;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

#mcs3_container .dragger_pressed {
    position: absolute;
    width: 9px;
    height: 60px;
    background: #85e0fd;
    margin-left: -5px;
    overflow: hidden;
    cursor: pointer;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.dvTituloInformaciones {
    font-size: 9px;
    font-weight: bold;
    background-color: #6fc6e2;
    text-align: center;
    padding: 3px;
    margin-right: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/scripts/PIE.htc);
}
.dvFooterIntranet {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    float: left;
    clear: both;
    background-color: #1987ac;
    -webkit-box-shadow: #5ca5cb 0px -2px 4px;
    -moz-box-shadow: #5ca5cb 0px -2px 4px;
    box-shadow: #5ca5cb 0px -2px 4px;
    behavior: url(/scripts/PIE.htc);
}
    